/*Author: Jasmine McClurkin
Date: May 1, 2020*/

/*TAGS*/

body {
    background-color: #c7fdf7;
    max-width: 1360px;
}
footer {
    background-color: #64c5a5;
    line-height: 20px;
    color: navy;
    font-family: "Amatic SC", cursive;
    font-size: 20px;
}

form {
    position: absolute;
    top: 0px
}
h3 {
    text-decoration: underline;
    font-size: 40px;
}
input[type=text], input[type=email], textarea {
    width: 350px;
    padding: 10px;
    margin: 6px 0;
    border: 1px solid goldenrod;
    border-radius: 4px;
    box-sizing: border-box;
}
input[type=submit] {
    width: 100px;
    background-color: navy;
    color: white;
    font-family: "Amatic SC", cursive;
    font-size: 30px;
    padding: 5px;
    margin: 10px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
input[type=submit]:hover {
   background-color: goldenrod;
}
input:focus, textarea:focus {
   background-color: #fffd87;  
}
label {
    font-family: "Amatic SC";
    font-size: 25px;
    color: navy;
    text-shadow: 1px 1px aliceblue;
    width: 60px;
    display: inline-block;
    text-align: left;
    margin-right: 8px;
}
li a {
    display: block;
    color: aliceblue;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    background-color: 	#6dd8db;
    font-family: "Amatic SC", cursive;
    font-size: 25px;
    text-shadow: 1px 1px #C9B037;
}
li a:hover {
    background-color: #6FFFFD;
}
span {
    font-size: 30px
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: inline-block;
}
video {
    position: absolute;
    z-index: 1;
    left: 1000px;
    top: 0px;
    border: 5px solid white;
    padding: 5px;
}

/*CLASSES*/
.alignRight {
    text-align: right;
    position: relative;
    left: 300px;
    
}
.articleTemp {
    overflow: hidden;
    line-height: 30px;
    position: absolute;
    width: 1000px;
    height: 3500px;
}
.articleTemp h2 {
    font-family: "Amatic SC", cursive;
    display: block;
    font-size: 40px;
    color: navy;
    text-shadow: 3px 3px #6dd8db;
    font-weight: bold;
}
.articleBorder {
    width: 950px;
    border: 5px solid white;
}
.articleBorder div {
    font-family: "Amatic SC", cursive;
    font-size: 30px;
    color: navy;
    text-shadow: 1px 1px aliceblue;
    width: 600px;
    line-height: 1.1;
    margin: 20px;
    
    
}
.asideNav {
    display: block;
    color: navy;
    text-align: center;
    text-decoration: none;
    background-color: #c7fdf7;
    font-family: "Amatic SC", cursive;
    font-size: 15px;
    text-shadow: 1px 1px aliceblue;
    padding: 5px;
}
.asideTemp {
   background: goldenrod;
   line-height: 90px;
   float: right;
   width: 360px;
    height: 2000px;
}
.birthdayGirl {
    border: 5px solid white;
    width: 600px
}
.birthdayGirl img {
    width: 200px;
    position: absolute;
    top: 55px;
    left: 480px
    
}

.birthdayGirl p {
    width: 400px;
    font-family: "Amatic SC", cursive;
    font-size: 30px;
    margin: 20px;
    color: navy;
    text-shadow: 1px 1px aliceblue;
}
.col1 {
    display: inline-block;
}
.colTitle {
    width 200px;
    font-size: 30px;
}

.col2 {
    display: inline-block;
    float: right;
}
.col2 p {
    position: relative;
    top: -1160px;
    left: 20px;
}
.col3 p {
    position: relative;
    left: 620px;
    top: -1140px;
}
.colP p {
    width: 250px;
    text-align: center;   
}
.glow {
    width: 250px;
    height: 280px;
    border: 5px solid white;
    position: absolute;
    left: 705px;
    top: 0px;
    font-family: "Amatic SC", cursive;
    font-size: 60px;
    color: #fff;
    background-color: #6dd8db;
    text-align: center;
    -webkit-animation: glow 1s ease-in-out infinite alternate;
    -moz-animation: glow 1s ease-in-out infinite alternate;
    animation: glow 1s ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
  from {
    text-shadow: 0 0 0px #fff, 0 0 10px #fff, 0 0 20px #C9B037;
  }
  
  to {
    text-shadow: 0 0 10px #fff, 0 0 20px goldenrod, 0 0 30px goldenrod;
  }
}

.layoutWrap {
    position: relative;
    top: 350px;
}
.middleH2 {
    position: relative;
    left: 450px;
}
.mustSee1 {
    width: 200px;
    height: 200px;
    margin: 30px;
    position: relative;
    left: 30px;
}
.mustSee2 {
    width: 200px;
    height: 200px;
    margin: 30px;
    position: relative;
    top: -1163px;
    left: 30px;
}
.mustSee3 {
    width: 200px;
    height: 200px;
    margin: 30px;
    position: relative;
    left: 630px;
    top:-1130px;
}
.navLeft {
    float: left;
    position: relative;
    top: 145px;
    width: 247px;
}
.palmtrees {
    width: 334px;
}
.pageFooter {
    background-color: #64c5a5;
    line-height: 40px;
    position: absolute;
    color: navy;
    font-family: "Amatic SC", cursive;
    font-size: 20px;
}
.rightH2 {
    text-align: right;
    position: relative;
    left: -50px;
}

.secondNav {
    width: 250px;
    height: 150px;
}

.top1 {
    background-color: #64c5a5;
    position: absolute;
    width: 1359px;
    height: 200px;
}
.top1 a:hover {
    background-color: #6FFFFD;
}
.top2 {
    background-color: #90f0dc;
    position: absolute;
    width: 26%;
    height: 125px;
    left: 493px;
    top: 80px;
    border: 2px solid;
    border-color: #C9B037;
}
.wrap {
    width: 1360px;
    height: 3000px;
    margin: 0 auto;
}

/*IDs*/

#accomImg1 {
    width: 200px;
    position: absolute;
    top: 315px;
    left: 700px;
}
#accomImg2 {
    height: 200px;
    width: 200px;
    position: absolute;
    top: 700px;
    left: 800px;
}
#accomImg2FL {
    height: 250px;
    width: 200px;
    position: absolute;
    top: 700px;
    left: 800px;
}
#accomImg3 {
    position: absolute;
    top: 950px;
    left: 650px;
}
#accomImgRabbit {
    height: 250px;
    width: 200px;
    position: absolute;
    top: 700px;
    left: 800px;
}
#beachH3 {
    position: absolute;
    top: 2670px;
    left: 422px;
}
#beachImg {
    position: relative;
    top: -900px;
}
#beachP p {
    position: relative;
    top: -840px;
    left: 0px;
}
#borderBox {
    border: 5px solid white;
    position: relative;
    top: 1065px;
    width: 700px;
    height: 500px;
    left: 400px;
}
#col2Title {
    position: relative;
    top: -1160px;
    left: 90px;
}
#col2TitlePlaya {
    position: relative;
    top: -710px;
    left: 90px;
}
#col3Title {
    position: relative;
    left: 669px;
    top: -1140px;
}
#col3TitleHavana {
    position: relative;
    top: -1865px;
    left: 700px;
}
#col3TitlePlaya {
    position: relative;
    top: -790px;
    left: 705px;
}
#colP1 {
    width: 250px;
    text-align: center;
}
#cuisineImg1 {
    position: absolute;
    width: 250px;
    height: 250px;
    left: -300px;
    top: 135px;
    transform: none;
}
#cuisineImg2 {
    position: absolute;
    width: 250px;
    height: 200px;
    top: 450px;
    left: -300px;
}
#cuisineImg3 {
    position: absolute;
    width: 250px;
    top: 700px;
    left: -300px;
}
#destinations {
    position: absolute;
    top: 220px;
    left: 75px;
    padding: 5px;
    border: 5px solid white;
    margin: 20px;
}
#destinations h1 {
    font-family: "Amatic SC", cursive;
    font-size: 50px;
    color: navy;
    text-shadow: 2px 2px #6dd8db;
    text-align: center;
}
#discoteca {
    height:300px; 
    top: -790px
}
#dressedUp {
    position: absolute;
    width: 200px;
    height: 300px;
    top: 580px;
    left: -210px;
}

#formArea {
    position: absolute;
    top: 1170px;
    left: 700px;
}
#fun {
    font-size: 80px;
}
#funDiv {
    height: 800px;
}

#havanaP p {
    position: relative;
    top: -1870px;
}
#homeButton1 {
    position: absolute;
    top: 0px;
    left: 250px;
    font-family: "Amatic SC", cursive;
    font-size: 40px;
    color: goldenrod;
    text-shadow: 1px 1px aliceblue;
    opacity: 0%;
}
#homeButton1:hover {
    position: absolute;
    top: 0px;
    left: 250px;
    font-family: "Amatic SC", cursive;
    font-size: 40px;
    color: goldenrod;
    text-shadow: 1px 1px aliceblue;
    opacity: 100%;
}
#homeButton2 {
    position: absolute;
    top: 70px;
    left: 40px;
    font-family: "Amatic SC", cursive;
    font-size: 40px;
    color: goldenrod;
    text-shadow: 1px 1px aliceblue;
    opacity: 0%;
}
#homeButton2:hover {
    position: absolute;
    top: 70px;
    left: 40px;
    font-family: "Amatic SC", cursive;
    font-size: 40px;
    color: goldenrod;
    text-shadow: 1px 1px aliceblue;
    opacity: 100%;
    
}
#homepageFooter {
    position: absolute;
    top: 1700px;
    width: 1359px;
    line-height: 1.2;
}
#intro {
    position: absolute;
    top:350px;
    left: 650px;
    border: 5px solid white;
    width: 400px;
    font-family: "Amatic SC", cursive;
    font-size: 30px;
    color: navy;
    padding: 40px;
    
}
#introPic {
    position: absolute;
    width:275px;
    height: 420px;
    top: 300px;
    left: 400px;
    z-index: 2;
}
#mustSee {
    height: 1200px;
}
#littleHavana {
    width: 300px;
    position: relative;
    top: -1865px;
}
#locals h3 {
    top: -718px;
    left: 728px;
}
#locals p {
   top: -710px;
    left: 645px;
}
#localsImg {
    top: -715px;
    left: 660px;
}
#jayla {
    transform: none;
}
#junkanoo {
    height: 300px;
}
#nassauFooter {
    position: relative;
    top: 3750px;
    line-height: 1.5;

}
#nassauTitle {
    font-family: "Italianno", cursive;
    font-size: 100px;
    color: #6dd8db;
    text-shadow: 2px 2px white ;
    position: absolute;
    top:200px;
    left: 450px; 
    width: 800px
}
#navRight1 {
    position: absolute;
    top: 155px;
    left: 858px;
    width: 254px;
    height: 5px;
    
}
#navRight2 {
    position: absolute;
    top: 155px;
    left: 1112px;
    width: 254px;
    
}
#outsideForm {
    position: absolute;
    top: 1050px;
    left: 440px;
    font-family: "Amatic SC", cursive;
    font-size: 40px;
    color: navy;
    text-shadow: 1px 1px aliceblue;
    
}
#parasailing {
    position: absolute;
    width: 200px;
    height: 350px;
    left: -230px;
}
#partyBoat {
    height: 300px;
}
#partyBoatH3 {
    position: relative;
    left: 80px;
}
#playaFooter {
    position: relative;
    top: 3750px;
    line-height: 1.5;

}
#playaP1 p {
    position: relative;
    top: -710px;
}
#playaP2 p {
    position: relative;
    top: -790px;
}
#purpleNote1{
    width: 200px;
}
#purpleNote2 {
    width: 200px;
    position: relative;
    top: 200px;
}
#redondoFooter {
    position: relative;
    top: 3950px;
    line-height: 1.5;

}
#redondoTitle {
    font-family: "Italianno", cursive;
    font-size: 100px;
    color: #6dd8db;
    text-shadow: 2px 2px white ;
    position: absolute;
    top:200px;
    left: 350px; 
    width: 800px;
}
#relaxImg1 {
    position: absolute;
    width: 250px;
    height: 280px;
    left: -300px;
    top: 15px;
}
#relaxImg2 {
    position: absolute;
    width: 250px;
    height: 200px;
    top: 350px;
    left: -300px;
}
#relaxImg3 {
    position: absolute;
    width: 250px;
    height: 250px;
    top: 600px;
    left: -300px;
}
#relaxImg4 {
    position: absolute;
    width: 250px;
    height: 250px;
    top: 900px;
    left:-300px;
}
#riveraMaya {
    position: relative;
    top:-5px;
    left: 70px;
}
#shiftRight {
    position: relative;
}
#sunset{
    width: 500px;
    position: absolute;
    top: 150px;
    left: 480px;
    z-index: -2;
}
#table {
    position: relative;
    top: -710px;
    left: 50px;
}
#testimonials {
    position: absolute;
    top: 1159px;
    border: 5px solid white;
    padding: 30px;
    width: 200px;
}
#testimonials h2 {
    font-size: 50px;
    font-family: "Amatic SC", cursive;
    color: navy;
    text-shadow: 1px 1px aliceblue;
    text-decoration: underline;
    
}
#testimonials p {
    font-family: "Amatic SC", cursive;
    font-size: 30px;
    color: navy;
    text-shadow: aliceblue;
    
}
#testimonials span {
    font-family: "Italianno", cursive;
    font-size: 50px;
    color: goldenrod;
}
#tiki h3 {
    position: absolute;
    top: 2403px;
    left: 440px;
}
#tiki p {
    position: absolute;
    top: 2470px;
    left: 370px
}
#tikiImg {
    width: 300px;
    height: 200px;
    margin: 30px;
    position: relative;
    left: -20px;
    top: -736px
}
#tip1 {
    font-family: "Amatic SC", cursive;
    font-size: 24px;
    position: absolute;
    top: 365px;
    left: 22px;
}
#tip2 {
    font-family: "Amatic SC", cursive;
    font-size: 24px;
    position: absolute;
    top: 535px;
    left: 49px;
}
#tip3 {
    font-family: "Amatic SC", cursive;
    font-size: 24px;
    position: absolute;
    left: 50px;
    top: 740px;
}
#tip4 {
    font-family: "Amatic SC", cursive;
    font-size: 35px;
    position: absolute;
    top: 940px;
    left: 50px;
}
#tip5 {
    font-family: "Amatic SC", cursive;
    font-size: 29px;
    position: absolute;
    top: 345px;
    left: 32px;
    text-align: center;
}
#tip6 {
    font-family: "Amatic SC", cursive;
    font-size: 30px;
    position: absolute;
    top: 535px;
    left: 45px;
    text-align: center;
}
#tip7 {
    font-family: "Amatic SC", cursive;
    font-size: 30px;
    position: absolute;
    left: 70px;
    top: 720px;
}
#tip8 {
    font-family: "Amatic SC", cursive;
    font-size: 30px;
    position: absolute;
    top: 920px;
    left: 70px;
}
#tip9 {
    font-family: "Amatic SC", cursive;
    font-size: 30px;
    position: absolute;
    top: 330px;
    left: 50px;
}
#tip10 {
    font-family: "Amatic SC", cursive;
    font-size: 30px;
    position: absolute; 
    top: 750px;
    left: 50px;
}
#tips {
    position: absolute;
    left: 1150px;
    top: 150px;
    height: 2500px;
    line-height: 1.2
}
#tips h1 {
    font-family: "Amatic SC", cursive;
    font-size: 100px;
    color: navy;
    text-shadow: 2px 2px #6dd8db;
    text-align: center;
    text-decoration: underline;
}
#tipsDiv {
    height: 1000px;
}

#tipsNassau {
    position: absolute;
    left: 1000px;
    top: -100px;
    height: 2500px;
}
#tipsNassau h1 {
    font-family: "Amatic SC", cursive;
    font-size: 100px;
    color: navy;
    text-shadow: 2px 2px #6dd8db;
    text-decoration: underline;
    position: relative;
    left: 50px;
    width: 120px;
}
#tipsPlaya {
    position: absolute;
    left: 1050px;
    top: 420px;
    height: 2000px;
}

#tipsPlaya h1 {
    font-family: "Amatic SC", cursive;
    font-size: 100px;
    color: navy;
    text-shadow: 2px 2px #6dd8db;
    text-decoration: underline;
    position: relative;
    left: 60px;
}

#tipsRedondo {
    position: absolute;
    left: 1050px;
    top: -100px;
    height: 3500px;
}
#tipsRedondo h1 {
    font-family: "Amatic SC", cursive;
    font-size: 100px;
    color: navy;
    text-shadow: 2px 2px #6dd8db;
    text-decoration: underline;
    position: relative;
    left: 60px;
}
#titleJ {
    font-family: "Italianno", cursive;
    font-size: 125px;
    color: aliceblue;
    position: absolute;
    top: -25px;
    left: -2px;
    z-index: 1;
}
#titleRest {
    font-family: "Italianno", cursive;
    font-size: 75px;
    color: aliceblue;
    position: absolute;
    left: 30px;
    top: 0px;
}
#titles {
    text-shadow: 2px 1px #C9B037;
}
#titleTo {
    font-family:'Italianno', cursive;
    font-size: 50px;
    color: aliceblue;
    position: absolute;
    left: 180px;
    top: 45px;
}
#title30 {
    font-family: "Parisienne", cursive;
    font-size: 120px;
    color: aliceblue;
    position: absolute;
    left: 190px;
    top: 30px;
}
#trafficLight {
    position: absolute;
    width: 200px;
    height: 320px;
    top: 320px;
    left: -300px;
}
#yellowNote1 {
    width: 210px;
    position: absolute;
    left: -11px;
    top:500px;
}
#yellowNote2 {
    width: 210px;
    position: absolute;
    top:900px;
    left: -11px;
}